.container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-head{
  font-size: 2rem;
  font-family: 'Fira Code', monospace;
  margin: 0;
  margin-bottom: 10px;
}

.backdrop{
  display: flex;
  flex-direction: column;
}

.close-btn{
  color: gray;
  font-size: 1.5rem;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  transition: ease 0.5s;
}

.close-btn:hover{
  color: black;
}

.footer{
  position: absolute;
  bottom: 10px;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
  color: white;
}

.portfolio-link{
  color: white;
  transition: ease 0.5s;
}

.portfolio-link:hover{
  color: gray;
}